@screen-md-min:			768px;
@primary-palette: #4e8416;
@valid-palette: @primary-palette;
@invalid-palette: #aa0008;
/*
 * used by footer
 */
@font-size-xsmall: 12px;
/*
 * used by labels
 */
@font-size-small: 14px;
/*
 * used by input texts
 */
@font-size-medium: 16px;
/*
 * used by button texts
 */
@font-size-large: 24px;
// submit button
@action-palette: #aa005f;
@action-palette-hover: #970054;
@action-palette-disabled: #dddddd;
@action-height: 60px;

@label-font-size: @font-size-small;
// inputs
@input-height: 38px;
@input-border-radius: 4px;
@input-border-width: 1px;
@input-border-width-focus: 2px;

@input-border-color: #676767;
@input-border-color-focus: #303030;
@input-background-color: #f7f7f7;

@input-left-padding: 10px;
@input-to-label-space: 5px;
@input-font-size: @font-size-medium;
@required-asterisk-palette: #aa005f;

@transition-time: 0.3s;
@symbol-required-margin: 5px;

html,
body,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}

h2 {
	color: @primary-palette;
}

label {
	display: block;
	font-size: @label-font-size;
}
// colors texts with @action-palette
.text-action {
	color: @action-palette;
}
/********************************
 * HEADER
 ********************************/
/*
 * company logo
 */
.header-logo {
	display: block;
}

/*
 * contact information
 */
.header-contact-info {
	p {
		height: 18px;
		line-height: 18px;
	}
	text-align: right;
}

/*
 * bottom border
 */
.header-bottom {
	height: 36px;
	background-color: @primary-palette;
}
/********************************
 * MAIN CONTENT
 *********************************/
.content-header {
	p {
		font-size: @font-size-medium;
	}

	.symbol-required-header {
		margin-right: @symbol-required-margin;
		color: @required-asterisk-palette;
	}
}

/*
 * NOTE: only shown on mobile devices
 */
.dial-container {
	text-align: center;
	margin: 0 auto;
	p {
		margin: 0;
	}
	.dial-btn {
		/*horizontally/vertically align text and icons*/
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: @primary-palette;
		color: white;
		height: @action-height;
		font-size: @font-size-large;
		border-radius: @input-border-radius;
		// phone dial image
		.icon-phone {
			margin-right: 5px;
		}
	}
}

.input-box {
	input.form-input,
	select,
	textarea.form-input {
		/*remove the ugly default input highlighting*/
		outline: none;
		outline-style: none;
		box-shadow: none;
	}
	input.form-input {
		background-color: @input-background-color;
		height: @input-height;
		border: @input-border-width solid @input-border-color;
		border-radius: @input-border-radius;
		font-size: @input-font-size;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		transition: border-color @transition-time;
		&:focus {
			border-color: @input-border-color-focus;
			border-width: @input-border-width-focus;
			transition: border-color @transition-time;
		}
		&.valid {
			color: @valid-palette;
			border-color: @valid-palette;
		}
		&.invalid {
			color: @invalid-palette;
			border-color: @invalid-palette;
		}
	}
	select {
		background-color: @input-background-color;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		border: @input-border-width solid @input-border-color;
		width: 100%;
		height: @input-height;
		font-size: @input-font-size;
		&:focus {
			border-width: @input-border-width-focus;
		}
	}
	textarea.form-input {
		box-sizing: border-box;
		width: 100%;
		font-size: @input-font-size;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		border: @input-border-width solid @input-border-color;
		border-radius: @input-border-radius;
		background-color: @input-background-color;
		transition: border @transition-time;
		&:focus {
			border-width: @input-border-width-focus;
			border-color: @input-border-color-focus;
		}
	}
}
// error text messages
label.invalid,
p.invalid {
	color: @invalid-palette;
}

.radio-btn-container {
	label {
		margin-top: @input-to-label-space;
	}
	/* we specify the type of input in order to achieve higher specificity to
	 * override same styles made to .form-input*/
	input[type="radio"] {
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		margin-right: 5px;
		height: 20px;
		width: 20px;
		vertical-align: middle;
		&:focus {
			outline: @input-border-width-focus auto @input-border-color-focus;;
			outline-offset: -@input-border-width-focus;
		}
	}
}

/*
 * overriding Humana css rules for radio buttons in small glass
 */
.small-glass-two {
	&.radio-btn-container.radio-btn-phone,
	&.radio-btn-container.radio-btn-broker-no,
	&.radio-btn-container.radio-btn-broker-contact-no,
	&.radio-btn-container.radio-btn-benefits-no {
		float: left;
	}
}

.submit-btn {
	width: 100%;
	height: @action-height;
	border-width: 0;
	border-radius: @input-border-radius;
	font-size: @font-size-large;
	background-color: @action-palette;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	transition: background-color @transition-time;
	&:hover {
		background-color: @action-palette-hover;
		transition: background-color @transition-time;
	}
	&:disabled {
		cursor: not-allowed;
		background-color: @action-palette-disabled;
		transition: background-color @transition-time;
	}
	.submit-loading-bar {
		position: absolute;
		width: @font-size-large;
		height: @font-size-large;
		left: 12.5%;
		top: 28%;
	}
}

.symbol-required {
	display: inline;
	margin-left: @symbol-required-margin;
	color: @required-asterisk-palette;
}

/* This will have same width across all desktop sizes.
 * Reasoning: it doesn't look squeezed
 */
aside.eight.columns.phone-info-section {
	width: 310px;
	box-sizing: border-box;
	border: 2px solid @primary-palette;
	border-radius: @input-border-radius;
	float: right;
	padding: 30px;
}

footer {
	.footer-logo {
		padding: 5px 0;
		background-color: @primary-palette;
		img {
			vertical-align: middle;
		}
	}
	.social-links {
		text-align: center;
		a {
			border-bottom: none;
			color: inherit;
		}
	}
}

.text-small {
	font-size: @font-size-xsmall;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

/*
 * show elements with class 'show-on-mobile' on mobile devices
 */
.show-on-mobile {
	display: none;

	@media screen and (max-width: 600px) {
		display: block;
	}
}

/*
 * hide elements with class 'hidden-on-phone' on mobile devices
 */
.hidden-on-mobile {
	display: block;

	@media screen and (max-width: 601px) {
		display: none;
	}
}
@media only screen and (max-width: @screen-md-min - 1) {
	.small-input.input-box {
		width: 50%;
	}
}
